<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SUBS GAES</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'story10.css' %}">
    
</head>
<body>
    <div class="form">
        <h2>WHAT??? SUBS????</h2>
        <form id="form" method="POST">
            {% csrf_token %}
            {{ forms }}
            <br>
            <button id="tombol" type="submit" class="btn btn-primary tombol">Submit</button> 
        </form>    
    </div>
    <p class="col-md-6 col-sm-6" style="color:red;margin-top: 4px;"  id="email">
        
    </p>
    <button class="btn btn-primary showit" style='margin: 20px;' onclick= "show()" id="sub"> subs </button>
    
    <div id="item" style="display:none"> 
        {% for satuData in data %}
        <p> Nama : {{ satuData.nama }}</p>
        <p style='margin-bottom:20px'> email : {{ satuData.email }}</p>
        {% endfor %}
    </div>

    <!-- <div class="subsku">
        {% for satuData in data %}
        <p> nama : {{ satuData.nama }}</p>
        {% endfor %}
    </div> -->
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>
    <script src="{% static 'story10.js' %}"></script>
</body>
</html>