<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'style.css' %}">
</head>
<body onload="myFunction()">
    <div id="loader"></div>
    <div id="myDiv" style="display:none" class="animate-bottom">
        <div class="row justify-content-center">
            <img src="http://www.clker.com/cliparts/R/V/j/c/V/d/hot-pink-dot-md.png" class='white' id="tema">
        </div>
        <div class="container">
            <div class="row justify-content-center Title">
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <p class="h1" style= margin-top:50px;>HAE</p>
                    <a href="/profil/">
                        <button id="id_profil" class="btn btn-outline-dark" >Profil</button>
                    </a>  
                </div>  
            </div>
        </div> 
        <div class="container">
            <div class="row justify-content-center Title">
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <div class="form-group" style="margin-top:50px;">
                            <form id="form" method="POST" >
                                {% csrf_token %}
                                {{ forms }}
                                <br>
                                <button type="submit" class="btn btn-outline-dark" id="id_submit">Submit</button> 
                                <!-- <input type="button" value="Keluar" class="btn btn-primary tombol" onclick="history.back()"> -->
                            </form>
                    </div>
                    <div class="dataBase">
                            {% for satuData in data %}
                            <p> Status : {{ satuData.status }} at {{ satuData.time}}</p>

                            {% endfor %}
                    </div>
                </div>
            </div>
        </div> 
    </div>
    <!-- <div id="aktivitas">Aktivitas</div>
    <div id="aktif">Lorem ipsum dolor </div>
    <div id="pengalaman">Pengalaman</div>
    <div id="pgl">Lorem ipsum </div>
    <div id="prestasi">Prestasi</div>   
    <div id="pres">Lorem</div> -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>
    <script src="{% static 'main.js' %}"></script>
    </body>
    </html>
<!-- <div class="container containNav">
    <div class="row justify-content-center">
        <nav class="navbar navbar-expand-md navbar-light navbarku"> 
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Tema
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item pink">Pink</a>
                        <a class="dropdown-item gray">Gray</a>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</div> -->