<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'style.css' %}">
</head>
<body>
    <h1>Reka Paska Enda</h1>
    <h2>1806186793</h2>

    <img class="fotoProfil" src="https://instagram.fcgk4-2.fna.fbcdn.net/vp/9f31042bd0657d1a65f9d1ac1b60fb6a/5D25013C/t51.2885-15/e35/41974063_2155705198014302_197054604127074740_n.jpg?_nc_ht=instagram.fcgk4-2.fna.fbcdn.net" alt="Foto">
    
    <div id="aktivitas">Aktivitas</div>
    <div id="aktif">- Story 8 </div>
    <div id="pengalaman">Pengalaman</div>
    <div id="pgl">Tidak ada</div>
    <div id="prestasi">Prestasi</div>   
    <div id="pres">Tidak ada</div>
    
    <div class="row justify-content-center"> 
        <input type="button" value="Back" class="btn btn-outline-dark tombol" onclick="history.back()">
    </div>

    <div class="row justify-content-center"> 
        <a href="/formulir/">
        <button class="btn btn-outline-dark" >SUBS</button>
        </a>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'main.js' %}"></script>
                
</body>
</html>