<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'list.css' %}">
    <title>Document</title>
</head>
<body>
    {% if user.is_authenticated %}
    <a href="logout/">Logout</a><br>
    <p id="halo"> halo {{ user.username }}</p>
    {% else %}
    <a href="{% url 'social:begin' 'google-oauth2' %}">Login with Google</a><br>
    <p></p>
    {% endif %}
    <div class="center">
        <div class="pagination">
            <a onclick="show(0)">1</a>
            <a onclick="show(1)">2</a>
            <a onclick="show(2)">3</a>
            <a onclick="show(3)">4</a>
            <a onclick="show(4)">5</a>
            <a onclick="show(5)">6</a>
            <a onclick="show(6)">7</a>
            <a onclick="show(7)">8</a>
            <a onclick="show(8)">9</a>
            <a onclick="show(9)">10</a>
        </div>
    </div>
    <div class="wishlist" style="font-size: 24px; margin: 10px;">Rp 0</div>
    <table>
        <tr>
            <th>Nama</th>
            <th>Deskripsi</th>
            <th>Harga</th>
            <th>Add/Drop</th>
        </tr>
        <tr>
            <td class="nama0"></td>
            <td class="barang0"></td>
            <td class="harga0"></td>
            <td><button class="btn btn-success button0" onclick="list(0)">Add</button></td>
        </tr>
        <tr>
            <td class="nama1"></td>
            <td class="barang1"></td>
            <td class="harga1"></td>
            <td><button class="btn btn-success button1" onclick="list(1)">Add</button></td>
        </tr><tr>
            <td class="nama2"></td>
            <td class="barang2"></td>
            <td class="harga2"></td>
            <td><button class="btn btn-success button2" onclick="list(2)">Add</button></td>
        </tr><tr>
            <td class="nama3"></td>
            <td class="barang3"></td>
            <td class="harga3"></td>
            <td><button class="btn btn-success button3" onclick="list(3)">Add</button></td>
        </tr><tr>
            <td class="nama4"></td>
            <td class="barang4"></td>
            <td class="harga4"></td>
            <td><button class="btn btn-success button4" onclick="list(4)">Add</button></td>
        </tr><tr>
            <td class="nama5"></td>
            <td class="barang5"></td>
            <td class="harga5"></td>
            <td><button class="btn btn-success button5" onclick="list(5)">Add</button></td>
        </tr><tr>
            <td class="nama6"></td>
            <td class="barang6"></td>
            <td class="harga6"></td>
            <td><button class="btn btn-success button6" onclick="list(6)">Add</button></td>
        </tr><tr>
            <td class="nama7"></td>
            <td class="barang7"></td>
            <td class="harga7"></td>
            <td><button class="btn btn-success button7" onclick="list(7)">Add</button></td>
        </tr><tr>
            <td class="nama8"></td>
            <td class="barang8"></td>
            <td class="harga8"></td>
            <td><button class="btn btn-success button8" onclick="list(8)">Add</button></td>
        </tr><tr>
            <td class="nama9"></td>
            <td class="barang9"></td>
            <td class="harga9"></td>
            <td><button class="btn btn-success button9" onclick="list(9)">Add</button></td>
        </tr>
    </table>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>
    <script src="{% static 'list.js' %}"></script>
</body>
</html>