<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css">
    <script src="main.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body class='background'>
    {% include 'header.html' %}
    <div class="container">
            <div class="row justify-content-center Title">
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <p class="h1" style= margin-top:50px;>HAE</p>
                    <a href="/profil/">
                        <button id="id_profil" class="btn btn-outline-dark" >Profil</button>
                    </a>   
                </div>  
            </div>
    </div> 
        <div class="container">
            <div class="row justify-content-center Title">
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <div class="form-group" style="margin-top:50px;">
                        <form id="form" method="POST" >
                            {% csrf_token %}
                            {{ forms }}
                            <br>
                            <button type="submit" class="btn btn-outline-dark" id="id_submit">Submit</button> 
                            <!-- <input type="button" value="Keluar" class="btn btn-primary tombol" onclick="history.back()"> -->
                        </form>
                    </div>
                    <div class="dataBase">
                        {% for satuData in data %}
                        <p> Status : {{ satuData.status }} at {{ satuData.time}}</p>
    
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div> 
    
</body>
</html>