<!DOCTYPE html>
<html>
<head>
    {% load static%}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css">
    <script src="main.js"></script>
</head>
<body>
    <div class="container containNav">
        <div class="row justify-content-center">
            <nav> 
                <button>
                    <span class="menu">Menu</span>
                </button> 
                <div>
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                        <li class="nav-item">
                            <a class="nav-link profil">Pink<span class="sr-only">(current)</span></a>
                        </li>
                        <li>
                            <a class="nav-link profil">Black<span class="sr-only">(current)</span></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</body>

</html>